* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.positivus {
  display: flex;
  justify-content: center;
}

.positivus__form {
  font-family: "Space Grotesk", Arial, sans-serif;
  font-weight: 400;
}

.positivus__container {
  border-radius: 45px;
  background-color: #f3f3f3;
  width: 390px;
}

.positivus__radio {
  border: none;
  padding: 40px 52px 36px;
  display: flex;
  gap: 60px;
}

.positivus__label-radio {
  font-size: 16px;
  font-weight: inherit;
  font-family: inherit;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.positivus__label {
  display: block;
  font-size: 14px;
  font-weight: inherit;
  font-family: inherit;
  margin: 0 0 10px;
}

.positivus__span-radio {
  display: inline-block;
  width: 28px;
  height: 28px;
  background-color: #b9ff66;
  border-radius: 50%;
  margin: 0 15px 0 0;
}

.positivus__radiobutton:checked + .positivus__span-radio {
  border: 6px solid #fff;
  outline: 1px solid #000;
}

.positivus__main-text {
  padding: 0 30px 0;
  border: none;
}

.positivus__input {
  font-size: 16px;
  font-weight: inherit;
  font-family: inherit;
  width: 330px;
  padding: 18px 20px;
  margin: 0 0 20px;
  border-radius: 14px;
  border: 1px solid #000;

  &::placeholder {
    color: #898989;
  }
}

.positivus__textarea {
  resize: none;
  font-size: 16px;
  font-weight: inherit;
  font-family: inherit;
  border-radius: 14px;
  border: 1px solid #000;
  width: 330px;
  height: 132px;
  padding: 18px 20px;
  margin: 0 0 50px;
}

.positivus__button {
  font-family: inherit;
  font-weight: inherit;
  font-size: 20px;
  background-color: #000;
  color: #fff;
  padding: 20px 124px;
  border-radius: 14px;
  border: none;
  margin: 30px 0 0;
}
